h2 Bonjour M. Ducerf, cette page vous permet de modifier, le nom, la date et l'image de fond de vos ateliers.  

a(href="/admin/ateliers/modifier") Modifier l'évènement 

br 
br 

table(border="1" width="100%")
	tr
		th #
		th name 
		th date
		th image
		th action
	each res in results
		tr
			td=res.id
			td=res.name
			td=res.date 
			td
				img(src="/images/" + res.image height="50")
			td 
				a(href="/admin/delete-product?id=" + res.id) Supprimer

br 
br 

table(border="1" width="100%")
	tr
		th #
		th name 
		th image
		th action

	each res in results
		tr
			td 1
			td Image de fond section Ateliers
			td
				img(src="/images/background3.png" height="100")
			td 
				// a(href="/admin/new-background?id=1") Nouveau background
				// On est par défaut sur cette route /admin/ateliers
				p Choisir une nouvelle image
				form(method="POST" action="/admin/new-background" enctype='multipart/form-data') 
					br
					input(name="new-background" type="file" placeholder="")
					button(type='submit') Valider	
					br
				br
				a(href="/admin/default-background3") Image par défaut





