form(method="POST")
	br
	br
	input(name="name" type="text" placeholder="Nom de l'évènement")
	br
	br
	textarea(name="date" type="text" placeholder="Date")
	br
	br
	
	br
	br
	button(type='submit') Enregistrer

