
h2 Placer ici votre texte et votre image pour modifer l'évènement
form(method="POST")
	br
	br
	input(name="name" type="text" placeholder="Nom de l'évènement" required='required')
	br
	br
	textarea(name="date" type="date" placeholder="dd/mm/yyyy" required='required')
	br
	br
	br
	br
	button(type='submit') Enregistrer





