header
  // BARRE DE NAVIGATION
  nav#navbar.navbar.navbar-toggleable-md.navbar-light.bg-faded
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.text-center
        li.nav-item.active
          a.nav-link(href='#')
            | Accueil 
            span.sr-only (current)
        li.nav-item
          a(href='index.html') ◆
        li.nav-item
          a.nav-link(href='pageProduits.html') Nos produits
        li.nav-item
          a.nav-link(href='index.html') ◆
        li.nav-item
          a.nav-link(href='recettes.html') Nos recettes
        li.nav-item
          a.nav-link(href='index.html') ◆
        .logo-navbar
        li.nav-item
          a.nav-link(href='index.html') ◆
        li.nav-item
          a.nav-link.sliding-link(href='#goto-atelier') Nos ateliers
        li.nav-item
          a.nav-link(href='index.html') ◆
        li.nav-item
          a.nav-link.sliding-link(href='#goto-noustrouver') Nous trouver
        li.nav-item
          a.nav-link(href='index.html') ◆
        li.nav-item
          a.nav-link(href='contact.html') Nous contacter
    .social
      ul.item-social
        li
          img(src='image/_social-icons/i_facebook.svg', alt='facebook logo')
        li
          img(src='image/_social-icons/i_instagram.svg', alt='instagram logo')
        li
          img(src='image/_social-icons/i_pinterest.svg', alt='pinterest logo')
