include mixins-fp
mixin block-product(titre)
    .container-fluid
        .row
          .text-center
            h2.titreSection=titre
        .row
          .col-xs-4
            h2 Produit 1
            img(src='http://via.placeholder.com/300x300', alt='')
          .col-xs-4
            h2 Produit 2
            img.img-responsive(src='http://via.placeholder.com/300x300', alt='')
          .col-xs-4
            h2.text Produit 3
            img(src='http://via.placeholder.com/300x300', alt='')
        .row
          .col-xs-4
            h2 Produit 4
            img(src='http://via.placeholder.com/300x300', alt='')
          .col-xs-4
            h2.text Produit 5
            |   :
            a(data-toggle='modal', data-target='#modalCBlancPTrois')
              img(src='image/_section-produits/produit2.jpg', alt='', style='width: 300px; height: 300px;')
              +fiche-produit('Http//:www.google.com', 1, 'chocolat blanc','content p','ingredients','content p4')
          .col-xs-4
            h2.text Produit 6
            |   :
            a(data-toggle='modal', data-target='#modalCBlancPTrois')
              img(src='image/_section-produits/produit2.jpg', alt='', style='width: 300px; height: 300px;')
              +fiche-produit('Http//:www.google.com', 2, 'chocolat blanc','content p1','ingredients','content p2')