<!DOCTYPE html>
<!--Internet explorer conditions-->
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1 ">
	<!--À approfondir-->
	<meta name="author" content="name">
	<meta name="description" content="texte explicatif 150 caractères max">
	<meta name="keywords" content="keywords,here">
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--Favicon-->
	<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	<!--Google fonts-->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

	<!--Fichier CSS-->
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/page-produit.css" type="text/css">
	
	<!--Meta property et name pour réseaux sociaux-->
	<!-- Google console? -->
	<!-- URL canonique? -->

	<title>Chocolat en joie</title>
</head>

<body>

	<header>
       <!-- BARRE DE NAVIGATION -->
        <nav id="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pageProduits.html">Nos produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recettes.html">Nos recettes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <div class="logo-navbar"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link sliding-link" href="index.html#goto-atelier">Nos ateliers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sliding-link" href="index.html#goto-noustrouver">Nous trouver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Nous contacter</a>
                    </li>
                </ul>
            </div>
       		<div class="social">
                <ul class="item-social">
                    <li><img src="image/_social-icons/i_facebook.svg" alt="facebook logo"></li>
                    <li><img src="image/_social-icons/i_instagram.svg" alt="instagram logo"></li>
                    <li><img src="image/_social-icons/i_pinterest.svg" alt="pinterest logo"></li>
                </ul>
        	</div>
        </nav>
    </header>

<!-- BURGER MENU -->
  <div class="header-burger">
    <div class="burger-container">
      <div id="burger">
        <div class="bar topBar"></div>
        <div class="bar btmBar"></div>
      </div>
    </div>
    <ul class="menu">
      <li class="menu-item"><a href="index.html">Accueil</a></li>
      <li class="menu-item"><a href="pageProduits.html">Nos produits</a></li>
      <li class="menu-item"><a href="recettes.html">Nos recettes</a></li>
      <li class="menu-item"><a href="#">Nos ateliers</a></li>
      <li class="menu-item"><a href="#">Nous trouver</a></li>
      <li class="menu-item"><a href="contact.html">Nous contacter</a></li>
    </ul>
  </div>

</div>




<section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center bghomepage-produits">
                    <div>
                        <!-- <div class="items-home"> <img class="logohome" src="image/logo-white.svg" alt=""></div> --> 
                        <h2 class="titrePageProduit center-block">Nos chocolats</h2>
                        <h3 class="items-home">“Le seul moyen de se délivrer d'une tentation, c'est d'y céder..." (Oscar Wilde)</h2>
                        
                        <a href="#chocolatNoir"><button>Chocolat noir</button></a>
						<a href="#chocolatBlanc"><button>Chocolat blanc</button></a>
						<a href="#chocolatLait"><button>Chocolat lait</button></a>
						<a href="#chocolatMix"><button>Chocolat mix</button></a>

                    </div>
                </div>
            </div>
        </div>


    </section>


	<section id="chocolatNoir"> <!-- CHOCOLAT NOIR -->

		<div class="container-fluid">
			
			<div class="row">
				<div class="text-center">
					<h2 class="titreSection center-block">Nos chocolats noirs</h2>
				</div>
			</div>

		<div class=" row">
			<div class="col-xs-4">
				<h2>Produit 1</h2>	
				<img src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2>Produit 2</h2>	
				<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2 class="text">Produit 3</h2>	
				<img src="http://via.placeholder.com/300x300" alt="">
			</div>

	   	</div>

	   	<div class=" row">
			<div class="col-xs-4">
				<h2>Produit 4</h2>	
				<img src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2>Produit 5</h2>	
				<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2 class="text">Produit 6</h2>	
				<a data-toggle="modal" data-target="#modalCNoirPTrois"><img src="image/_section-produits/produit1.jpg" alt="" style="width: 300px; height: 300px;"></a>
			</div>

	   	</div>
		
		</div>	

		
		<!-- FICHE PRODUIT MODAL BOOTSTRAP -->

		<article> 
			
			<div class="modal fade" id="modalCNoirPTrois" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

		    	<div class="modal-dialog" role="document">

		    		<div class="modal-content">
		      		
		      			<div class="modal-header">

		        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		      			</div>

		      			<div class="modal-body text-center">

		        			<img src="http://via.placeholder.com/350x150" alt="">
		        				
		    				<div>
		    					<h2>Delice chocolat Noir</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>


								<h2>Ingrédients</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>
							</div>
		      			</div>

		      			<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      			</div>

		      		</div>

		    	</div>

				</div>

		</article>

		
	</section>


	<!-- SECTION CHOCOLAT BLANC -->

	<section id="chocolatBlanc"> 

		<div class="container-fluid">
			
			<div class="row">
				<div class="text-center">
					<h2 class="titreSection">Nos chocolats blancs</h2>
				</div>
		</div>

		<div class=" row">
			<div class="col-xs-4">
				<h2>Produit 1</h2>	
				<img src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2>Produit 2</h2>	
				<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2 class="text">Produit 3</h2>	
				<img src="http://via.placeholder.com/300x300" alt="">
			</div>

	   	</div>

	   	<div class=" row">
			<div class="col-xs-4">
				<h2>Produit 4</h2>	
				<img src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2>Produit 5</h2>	
				<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
			</div>

			<div class="col-xs-4">
				<h2 class="text">Produit 6</h2>	:
				<a data-toggle="modal" data-target="#modalCBlancPTrois"><img src="image/_section-produits/produit2.jpg" alt="" style="width: 300px; height: 300px;"></a>
			</div>

	   	</div>
		
		</div>	


		<article> <!-- FICHE PRODUIT MODAL BOOTSTRAP -->
			
			<div class="modal fade" id="modalCBlancPTrois" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

		    	<div class="modal-dialog" role="document">

		    		<div class="modal-content">
		      		
		      			<div class="modal-header">

		        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		      			</div>

		      			<div class="modal-body text-center">

		        			<img src="http://via.placeholder.com/350x150" alt="">
		        				
		    				<div>
		    					<h2>Delice chocolat blanc vanille</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>


								<h2>Ingrédients</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>
							</div>
		      			</div>

		      			<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      			</div>

		      		</div>

		    	</div>

			</div>

		</article>

		
	</section>



<!-- CHOCOLAT LAIT -->

	<section id="chocolatLait"> 

		<div class="container-fluid">
			
			<div class="row">
				<div class="text-center">
					<h2 class="titreSection">Nos chocolats Laits</h2>
				</div>
			</div>

			<div class=" row">
				<div class="col-xs-4">
					<h2>Produit 1</h2>	
					<img src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2>Produit 2</h2>	
					<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2 class="text">Produit 3</h2>	
					<img src="http://via.placeholder.com/300x300" alt="">
				</div>

		   	</div>

		   	<div class=" row">
				<div class="col-xs-4">
					<h2>Produit 4</h2>	
					<img src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2>Produit 5</h2>	
					<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2 class="text">Produit 6</h2>	
					<a data-toggle="modal" data-target="#modalCLaitPTrois"><img src="image/_section-produits/produit3.jpg" alt="" style="width: 300px; height: 300px;"></a>
				</div>

		   	</div>
		
		</div>	


		<!-- FICHE PRODUIT MODAL BOOTSTRAP -->
		<article> 
			
			<div class="modal fade" id="modalCLaitPTrois" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

		    	<div class="modal-dialog" role="document">

		    		<div class="modal-content">
		      		
		      			<div class="modal-header">

		        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		      			</div>

		      			<div class="modal-body text-center">

		        			<img src="http://via.placeholder.com/350x150" alt="">
		        				
		    				<div>
		    					<h2>Delice chocolat lait</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>


								<h2>Ingrédients</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>
							</div>
		      			</div>

		      			<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      			</div>

		      		</div>

		    	</div>

			</div>

		</article>

		
	</section>


<!-- SECTION CHOCOLATS MIX -->

	<section id="chocolatMix">  

		<div class="container-fluid">
			
			<div class="row">
				<div class="text-center">
					<h2 class="titreSection">Nos chocolats mix</h2>
				</div>
			</div>

			<div class=" row">
				<div class="col-xs-4">
					<h2>Produit 1</h2>	
					<img src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2>Produit 2</h2>	
					<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2 class="text">Produit 3</h2>	
					<img src="http://via.placeholder.com/300x300" alt="">
				</div>
		   	</div>

		   	<div class=" row">
				<div class="col-xs-4">
					<h2>Produit 4</h2>	
					<img src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2>Produit 5</h2>	
					<img class="img-responsive" src="http://via.placeholder.com/300x300" alt="">
				</div>

				<div class="col-xs-4">
					<h2 class="text">Produit 6</h2>	:
					<a data-toggle="modal" data-target="#modalCMixPTrois"><img src="image/_section-produits/produit1.jpg" alt="" style="width: 300px; height: 300px;"></a>
				</div>
		   	</div>
		
		</div>	

		
		<!-- FICHE PRODUIT MODAL BOOTSTRAP -->
		<article> 
			
			<div class="modal fade" id="modalCMixPTrois" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

		    	<div class="modal-dialog" role="document">

		    		<div class="modal-content">
		      		
		      			<div class="modal-header">

		        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		      			</div>

		      			<div class="modal-body text-center">

		        			<img src="http://via.placeholder.com/350x150" alt="">
		        				
		    				<div>
		    					<h2>Farandole de chocolats</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>


								<h2>Ingrédients</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel urna mauris. Integer vitae massa a nisl porttitor sagittis. Sed ut ligula at neque malesuada eleifend. Nulla venenatis laoreet nisi eget euismod. Praesent in nisi vel turpis suscipit maximus. Aenean eu pellentesque ipsum. Cras sit amet eros libero. Duis sagittis nisl enim, ac posuere mauris porta a. Etiam commodo lacinia sem ac</p>
							</div>
		      			</div>

		      			<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      			</div>

		      		</div>

		    	</div>

			</div>

		</article>

		
	</section>






<!-- Footer -->
	<div class="content"></div>
  	<footer id="myFooter">
       	<div class="container">
       		<div class="row">
       			<div class="col-sm-3">
       				<img src="image/logo-white.svg" alt="Logo Chocolat en Joie"/>
				</div>
            	<div class="col-sm-2">
	            	<ul>
		              	<li><a href="#">Accueil</a></li>
		              	<li><a href="#">Nos produits</a></li>
		              	<li><a href="#">Nos recettes</a></li>
	              	</ul>
            	</div>
            	<div class="col-sm-2">
            		<ul>
            			<li><a href="#">Ateliers</a></li>
            			<li><a href="#">Nous trouver</a></li>
            			<li><a href="#">Nous contacter</a></li>
            		</ul>
              	</div>
              	<div class="col-sm-2">
	              	<ul>
	              		<li><a href="#">CGU</a></li>
	              		<li><a href="#">Mentions légales</a></li>
	              	</ul>
              	</div>
            	<div class="col-sm-3">
            		<div class="social-networks">
            			<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            			<a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            			<a href="#" class="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            		</div>
            		<button type="button" class="btn btn-default">Contactez nous</button>
            	</div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2017 Chocolat en Joie</p>
        </div>
    </footer>
<!--/.Footer-->




<!--Google analytic-->

	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Global Javascript file -->
    <script src="js/script.js"></script>
    <!-- Utilisation des coockies -->
	<script src="js/cookiechoices.js"></script>
	<!-- <script>document.addEventListener ('DOMContentLoaded', function(event) {
		cookieChoices.showCookieConsentBar ('En poursuivant votre navigation sur notre site, vous acceptez le dépôt de cookies qui nous permettront de vous proposer des contenus adaptés, d\’analyser le trafic et d\’effectuer des statistiques.', 'J\’accepte', 'En savoir plus', 'https://www.cnil.fr/fr');
	});
	</script> -->


</body>
</html>
