extends layout
include mixins
block content
    section
      .container-fluid
        .row
          .col-xs-12.text-center.bgPageProduits
            div
              // <div class="items-home"> <img class="logohome" src="/images/logo-white.svg" alt=""></div>
              h2.titrePageProduit.center-block Nos chocolats
              h3.items-home.sousTitreSection
                | “Le seul moyen de se délivrer d'une tentation, c'est d'y céder..." (Oscar Wilde)
              a(href='./produits/chocolat-noir')
                button Chocolat noir
              a(href='./produits/chocolat-blanc')
                button Chocolat blanc
              a(href='./produits/chocolat-lait')
                button Chocolat lait
              a(href='./produits/chocolat-mix')
                button Chocolat mix